<!-- Start login container -->
<div class="container login-container">
    <div class="login-panel panel panel-default plain animated bounceIn">
        <!-- Start .panel -->
        <div class="panel-body">
        {{if isset($err_msg)}}
                    <h4>{$err_msg}</h4>
                {{/if}}
            <form class="form-horizontal mt0" action="" id="register-form" role="form" method="POST">
                <div class="form-group">
                    <div class="col-md-12">
                        <!-- col-md-12 start here -->
                        <label for="">Email:</label>
                    </div>
                    <!-- col-md-12 end here -->
                    <div class="col-lg-12">
                        <div class="input-group input-icon">
                            <input type="text" name="email" id="email" class="form-control" placeholder="Type your email ...">
                            <span class="input-group-addon"><i class="fa fa-envelope s16"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group mb0">
                    <div class="col-md-12">
                    <input type="hidden" name="forgotpass" value="true">
                        <button class="btn btn-default" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer gray-lighter-bg">
            <h4 class="text-center"><strong>Lost your password ?</strong></h4>
            <p class="text-center">Password reset link will be sent to this email.</p>
        </div>
    </div>
    <!-- End .panel -->
</div>
<!-- End login container -->